@charset "utf-8";


body{
	height: 100%;
	font-family:S-CoreDream-4Regular;
}

.section{
	background-repeat: no-repeat;
	background-size:cover;
	background-position: center;
}

/*moving animation*/
#onviewOne{transition:0.3s;opacity:0;}
#onviewOne.move{opacity:1;}

#onViewFour{top: 100%;transition:.3s;opacity:0;}
#onViewFour.move{top: 0;opacity:1;}

/*page1*/
#page1{width: 100%;height: 100%;overflow: hidden;position: relative;}
#page1 #intro-MV{
	width:100%;height: 100%;
	position: absolute;top:00px;
	object-fit: cover;
	
}
#page1 .bgpage1{
	width: 100%;height: 100%;
	background: url(../images/tablet-bg.png) no-repeat center;
	background-size:cover;
	position:relative;z-index: 1;
}
#page1 .bgpage1 img{width: 100%;}

#page1 .time{
	color:#765892;
	font-family: 'S-CoreDream-7ExtraBold';font-size:25px;
	position: absolute;bottom: 10%;right: 7%;
	z-index: 2;
}
#page1 .icon{
	width:250px;
	position: absolute;left: 5%;bottom: 10%;
	z-index:5;
	animation:pgAni 0.8s infinite alternate;
}
#page1 .icon img{width: 100%;}

/*page2*/
#page2{background-image: url(../images/bg-pg2-tablet.jpg);position: relative;}
	#page2 .card{display: block;width: 600px;margin: 0 auto;}
	#page2 .card li{
		width: 600px;height: 180px;
		margin-bottom: 35px;
		border-radius:10px;overflow:hidden;
		box-shadow: 5px 5px 10px #1c1c1c;
		animation:pgAni 0.8s infinite alternate;
		cursor:pointer;
	}
	#page2 .card li:nth-child(1){
		background-image: url(../images/artistprofile.png), url(../images/blue.jpg);
		background-repeat: no-repeat;
		background-position: center;

	}
	#page2 .card li:nth-child(2){
		background-image: url(../images/album.png), url(../images/pink.jpg);
		background-repeat: no-repeat;
		background-position: center;

	}
	#page2 .card li:nth-child(3){
		background-image: url(../images/highlight.png), url(../images/yellow.jpg);
		background-repeat: no-repeat;
		background-position: center;

	}
	#page2 .card li a{line-height: 180px;}
	#page2 .card li img{display: none;}


	/*pageProfile*/
	#pageProfile{background-color: #594a9b;}
	#pageProfile .bdProfile{
		width: 100%;
		background-image: url(../images/text.png) no-repeat center;
		position: absolute;left: 50%;top: 50%;
		transform:translate(-50%,-50%);
	}
	
	/*album*/
	#pagealbum .bdProfile{background-color: #594a9b;}
	#pagealbum{
		width: 100%;
		background-image: url(../images/text.png) no-repeat center;
		position: absolute;left: 50%;top: 50%;
		transform:translate(-50%,-50%);
	}
	

/*reset*/
	.view .reset{display: none;}
	

/*page3*/
#page3{background: #f397a5;position: relative;}
	#page3 .logo{
		width: 370px;height: 175px;background: url(../images/logo-nonstop2.png);
		position: absolute;left: 50%;top: 80px;
		transform:translateX(-50%);
	}
	#page3 .box{
		width: 100%;height: 253px;background: #28b5b6;
		position: absolute;bottom: 0;
	}

	#page3 .pad{width: 800px;margin: 0 auto;position: relative;padding-top:180px;}
	#page3 .pad .padimg{width: 100%;position: relative;}
	#page3 .mvimg{
		width:800px;position: absolute;top: 50%;left: 50%;
		transform:translate(-52%,-30%);
	}
	#page3 .mvimg img{width: 100%;position: relative;}
	#page3 .mvimg .mv-img{width: 700px;left: 50px;}
	#page3 .bk{
		width: 720px;height: 540px;background: #212120;
		border-radius:30px;
		position: absolute;top:-80px;left: 50%;
		transform:translateX(-50%);
	}
	#page3 .ladder{display: none;}
	#page3 .cloud{width: 300px;position: absolute;bottom: 240px;}
	#page3 .cloud img{width: 100%;}
	#page3 .movingimg{
		position: absolute;right: 50px;bottom: 170px;
		animation: movingbear 4s infinite alternate;
	}
	#page3 .movingimg img{width: 480px;}

	@keyframes movingbear{
		from{transform:translateY(100px);}
		to{transform:translateX(0);}
	}
	#page3 .title{
		color:#fff;position: absolute;top: 420px;left: 50%;
		transform: translateX(-50%);
	}
	#page3 .title a{display: block;position: relative;}


/*page4*/
#page4{background: #fef339;overflow:hidden;}
#page4 #onViewFour{position: absolute;}

	#page4 .logo{
		position: absolute;left: 50%;top: 110px;
		transform:translateX(-50%)scale(0.9);
	}
	#page4 .content{position: relative;left: 100px;top: 330px;}
	#page4 .bodyleft{float: left;width: 700px;}
	#page4  .title img{margin-bottom: 25px;}
	#page4  p{margin-bottom: 30px;}
	#page4 .btn div{float: left;margin-right: 30px;margin-bottom:80px;}

	#page4 .photocard{
		width: 700px;height: 550px;margin: 0 auto;overflow:hidden;
	}
	#page4 .photocard ul{width: 4482px;height: 210px;position: absolute;left: 0;}
	#page4 .photocard li{
		float: left;
		width: 330px;border-radius:25px;
		margin-left:30px;
		overflow:hidden;
		box-shadow: 5px 5px 5px #666;
		position: relative; transition: .3s;
		animation: pgAni 0.8s infinite alternate;
	}
	#page4 .photocard li img{width: 100%;}
	#page4 .photocard li.phocaOne{animation-delay:0s;}
	#page4 .photocard li.phocaTwo{animation-delay:0.5s;}

	#page4 .photocard li:first-child{margin-left: 0;}
	#page4 .photocard li .hoverimg{display: none;transition: .3s;}
	#page4 .photocard li:hover .hoverimg{
		display: block;
		position: absolute;top: 0;left: 0;
	}

/*page5*/
#page5{background: #14ae66;}
	#page5 .box{position: absolute;top: 0;}
	#page5 .logo{
		position: absolute;left: 50%;top: 65px;
			transform:translateX(-50%)scale(0.9);
	}
	#page5 .event{width:576px;margin: 0 auto;padding-top: 210px;}
	#page5 .event li{
		float: left;width: 250px;
		border-radius:30px; overflow:hidden;
		box-shadow: 5px 5px 5px #555;
		margin-right: 30px;margin-bottom: 30px;
		position: relative;transition: 0.3s;
	}
	#page5 .event li img{width: 100%;}
	#page5 .event li:hover{
		animation:eventMove 1s infinite alternate;
	}
	#page5 .event .eventhover{
		width: 100%;height: 100%;background-color:rgba(30,30,30,0.8);
		text-align: center;color:#fff;
		position: absolute;top: 0;left: 0;
		transition:0.3s;opacity:0;
	}
	#page5 .event .eventhover p{
		font-size:18px;color:#fff;
		position: absolute;left: 50%;top: 50%;
		transform:translate(-50%,-50%);
	}
	#page5 .event li:hover .eventhover{
		display: block;opacity:1;
	}
	@keyframes eventMove{
		from{transform:rotate(5deg);}
		to{transform:rotate(-5deg);}
	}




/*event popup*/
.eventpopup{
	width: 980px;height: 600px;background-color:#fff;
	border-radius: 5px;
	position: absolute;left: 50%;top: 50%;
	transform:translate(-50%,-50%);
	padding:40px;
}
.eventpopup .title{
	text-align: center;font-size:24px;
	border-bottom: 2px solid #ddd;
	padding: 10px;
}
.eventpopup p{padding-top: 40px;font-size:14px;}
.eventpopup img{padding-top:40px;margin: 0 auto;}





/*---------------------------------------------------------------*/
@keyframes bounce {
  0%, 100%, 20%, 53%, 80% {
    transition-timing-function: cubic-bezier(0.215, .61, .355, 1);
    transform: translate3d(0, 0, 0)
  }
  40%,
  43% {
    transition-timing-function: cubic-bezier(0.755, .050, .855, .060);
    transform: translate3d(0, -30px, 0)
  }
  70% {
    transition-timing-function: cubic-bezier(0.755, .050, .855, .060);
    transform: translate3d(0, -15px, 0)
  }
  90% {
    transform: translate3d(0, -4px, 0)
  }
}

.bounce{
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  animation-name: bounce;
  transform-origin: center bottom
}

@keyframes shake {
  0%, 100% {
    transform: translate3d(0, 0, 0)
  }
  10%,
  30%,
  50%,
  70%,
  90% {
    transform: translate3d(-10px, 0, 0)
  }
  20%,
  40%,
  60%,
  80% {
    transform: translate3d(10px, 0, 0)
  }
}

.shake {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  animation-name: shake
}